.m-lm {
  margin: auto;
  margin-top: 50px;
  background-color: white;
  max-width: 500px;
  max-height: 500px;
}

.m-lm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 40, 40, 0.4);
}

.m-lm-background-login {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-lm-background-signup {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-lm-background1 {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/dd3f1937594867.5745a6785be0c.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-lm-content {
  background-color: white;
  border-width: 10px;
  border-color: black;
  margin: 0 auto;
  margin-top: 10px;
  height: 500px;
  width: 350px;
  padding: 20px;
}


.m-lm-input {
  background-color: #eceff1;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 10px;
  width: 320px;
  padding: 10px;
  padding-bottom: 5px;
  outline: none;
}

.m-lm-input:focus {
  background-color: #eceff1;
}

.m-lm-button {
  background-color: #fe5257;
  color: #eceff1;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 5px;
  width: 320px;
  padding-top: 8px;
  margin-top: 5px;
  outline: none;
}

.m-lm-button:hover {
  background-color: #ff656a;
  cursor: pointer;
}

.m-lm-button:disabled {
  background-color: #ff656a;
  cursor: default;
}

.m-lm-create-card-button {
  background-color: #fe5257;
  color: #eceff1;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 5px;
  width: 120px;
  padding-top: 8px;
  outline: none;
  display:inline-block;
  overflow: auto;
}

.m-lm-create-card-button:hover {
  background-color: #ff656a;
  cursor: pointer;
}

.m-lm-update-card-button {
  background-color: #fe5257;
  color: #eceff1;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100%;
  padding-top: 8px;
  outline: none;
  display:inline-block;
  overflow: auto;
}

.m-lm-update-card-button:hover {
  background-color: #ff656a;
  cursor: pointer;
}

.m-lm-close-button {
  width: 20px;
  height: 20px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-lm-header-text {
  font-family: medium;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-lm-sub-text {
  font-family: regular;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.m-lm-text {
  font-family: medium;
  font-size: 20px;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.m-lm-authen-header {
  font-family: medium;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 10px;
}

.m-lm-image-upload > input
{
    display: none;
}

.m-lm-image-upload img
{
    width: 280px;
    border-radius: 5px;
    cursor: pointer;
}

.m-lm-ghost-input {
  display: block;
  width: 100%;
  font-size: 22px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eceff1;
  border-radius: 4px;
  font-family: regular;
  padding: 5px 15px;
  height: 330px;
  margin-bottom: 10px;
}

.m-lm-ghost-input-title {
  display: block;
  width: 100%;
  font-size: 26px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eceff1;
  border-radius: 4px;
  font-family: medium;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.m-lm-ghost-search {
  display: block;
  width: 100%;
  font-size: 26px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: medium;
  padding: 5px 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-bottom: 1mm solid #eceff1
}

.m-lm-ghost-search:focus {
  border-bottom: 1mm solid #fe5257;
}

.m-lm-title-create-card {
  margin-top: 30px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 36px;
  font-family: medium;
}

.m-lm-card-upload-container {
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 25px
}

.m-lm-signout-link {
  color: #eceff1;
}

.m-lm-signout-link:hover {
  color: #eceff1;
  text-decoration: none;
}

.m-lm-modal-proceed-button {
  background-color: #fe5257;
  color: #eceff1;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100px;
  padding-top: 8px;
  outline: none;
  display:inline-block;
  overflow: auto;
}

.m-lm-modal-proceed-button:hover {
  background-color: #ff656a;
  cursor: pointer;
}

.m-lm-modal-return-button {
  background-color: #eceff1;
  color: #040d14;
  border: none;
  font-family: regular;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100px;
  padding-top: 8px;
  outline: none;
  display:inline-block;
  overflow: auto;
}

.m-lm-modal-return-button:hover {
  background-color: #e3e5e9;
  cursor: pointer;
}