@font-face {
  font-family: lars;
  src: url("../fonts/Larsseit.otf");
}

@font-face {
  font-family: regular;
  src: url('../fonts/Calibre-Regular.otf');
}

@font-face {
  font-family: medium;
  src: url('../fonts/Calibre-Medium.otf');
}

@font-face {
  font-family: italic;
  src: url('../fonts/Calibre-MediumItalic.otf');
}

@font-face {
  font-family: semibold;
  src: url('../fonts/Calibre-Semibold.otf');
}

#main {
  font-family: regular;
}

.content-main {
  margin-top: 10px;
}

.navbar-style {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.get-started-button {
  color: white;
  background-color: #21ce99;
  border-width: thin;
  border-color: #21ce99;
  margin-left: 10px;
  font-family: lars;
  font-size: 18px;
}

.get-started-button:hover {
  color: #21ce99;
  background-color: white;
  border-width: thin;
  border-color: #21ce99;
  font-family: lars;
  font-size: 18px
}

.navbar-button {
  color: black;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

@media only screen and (max-width: 360px) {
  .navbar-button {
    margin-left: 8px;
    margin-right: 0px;
  }
}

.navbar-signout-button {
  color: #040d14;
  background-color: transparent;
  font-family: medium;
  font-size: 20px;
  margin-right: 3px;
  margin-left: 0px;
  margin-top: 5px;
  border: none;
  background: none;
}

.navbar-signout-button:hover {
  cursor: pointer;
}

.selected-navbar-button {
  color: #040d14;
  background-color: #eceff1;
  font-family: lars;
  font-size: 18px;
  border-radius: 999px;
  margin: 2px;
}

.selected-navbar-button:hover {
  background-color: #eceff1;
}

.follow-button {
  color: #eceff1;
  background-color: #21ce99;
  font-family: lars;
  font-size: 18px;
  border-radius: 999px;
  margin: 2px;
}

.follow-button:hover {
  background-color: #21ce99;
}

.navbar-search {
  background-color: #eceff1;
  border: none;
  font-family: lars;
  font-size: 18px;
  outline: none;
}

.navbar-search:focus {
  background-color: #eceff1;
}

.m-card-text {
  font-family: lars;
  font-size: 18px;
  color: #040d14;
  padding-top: 3%;
}

.m-whole-card-cover {
  border-width: 0;
}

.m-card-cover {
  border-width: 0;
}

.m-card-cover:hover {
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contentHeader {
  color: #040d14;
  text-align: left;
  font-family: medium;
  padding-bottom: 10px;
}

.titleBar {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #ffffff;
  display: block;
  color: #fff;
  font-size: 24px;
  font-family: lars;
  border-bottom: 1px solid #efefef;
}

.logo {
  padding-top: 10px;
}

.m-browse {
  position: fixed;
  border: 3px solid #73AD21;
  right: 0;
}

.searchBar {
  font-size: 18px;
  display: 'block';
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 50px;
  background-color: #efefef;
  font-family: lars;
  border: none;
}

.loginButton {
  background-color: red;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: lars;
}

.loginButton:hover {
  background-color: #fe5257;
}

.registerButton:hover {
  background-color: #3f3f4a;
}

.registerButton {
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: lars;
}

.App {
  text-align: center;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input[type="file"] {
  display: none;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  margin-left: 15px;
}

.right {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 15px;
}

.m-profile-post-text {
  font-family: medium;
  font-size: 25px;
  display: flex;
  margin-bottom: 15px;
}

.m-profile-post-desc {
  font-family: regular;
  font-size: 20px;
  display: flex;
  margin-bottom: 25px;
  margin-top: 5px;
}

.m-profile-post-card {
  width: 100%;
}

.m-profile-post-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  float: left; 
  margin-left: 0px;
  margin-right: 10px;
}

.m-profile-post-avatar:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.m-profile-post-clap {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  float: right; 
  display: inline;
}

.m-profile-post-clap:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.m-profile-post-name {
  font-family: medium;
  font-size: 19px;
}

.m-profile-post-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.m-profile-post-date {
  font-family: regular;
  font-size: 18px;
  vertical-align:top;
  margin-top: -30px;
}

.m-profile-banner {
  margin-bottom: 10px;
}

.m-profile-post-count {
  float: right;
  font-size: 20px;
  font-family: medium;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
}

.m-profile-error {
  float: left;
  font-family: medium;
  font-size: 18px;
  margin-bottom: -5px;
  color: #3f3f4a;
  padding-left: 15px;
}

.m-profile-error-box {
  margin-left: 0px;
  background-color: #f8f7fa;
  width: 320px;
  padding: 10px;
  margin-bottom: 10px;
}

.m-home-error-page {
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

.m-home-error-text {
  font-family: medium;
  font-size: 25px;
  margin: 5px;
}

.m-profile-loading-logo {
  animation: App-logo-spin infinite 1s linear;
  animation-delay: 2s
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}