@font-face {
  font-family: lars;
  src: url("../fonts/Larsseit.otf");
}

@font-face {
  font-family: regular;
  src: url('../fonts/Calibre-Regular.otf');
}

@font-face {
  font-family: medium;
  src: url('../fonts/Calibre-Medium.otf');
}

@font-face {
  font-family: italic;
  src: url('../fonts/Calibre-MediumItalic.otf');
}

@font-face {
  font-family: semibold;
  src: url('../fonts/Calibre-Semibold.otf');
}

#main {
  font-family: regular;
}

.content-main {
  margin-top: 10px;
}

.navbar-style {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.get-started-button {
  color: white;
  background-color: #21ce99;
  border-width: thin;
  border-color: #21ce99;
  margin-left: 10px;
  font-family: lars;
  font-size: 18px;
}

.get-started-button:hover {
  color: #21ce99;
  background-color: white;
  border-width: thin;
  border-color: #21ce99;
  font-family: lars;
  font-size: 18px
}

.navbar-button {
  color: black;
  background-color: transparent;
  font-family: medium;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}

.navbar-button:hover {
  color: #fe5257;
  text-decoration: none;
}

.navbar-signout-button {
  color: black;
  background-color: transparent;
  font-family: medium;
  font-size: 20px;
  margin-right: 15px;
  margin-top: 5px;
  border: none;
  background: none;
}

.navbar-signout-button:hover {
  color: #fe5257;
  text-decoration: none;
  cursor: pointer;
}

.selected-navbar-button {
  color: #040d14;
  background-color: #eceff1;
  font-family: lars;
  font-size: 18px;
  border-radius: 999px;
  margin: 2px;
}

.selected-navbar-button:hover {
  background-color: #eceff1;
}

.follow-button {
  color: #eceff1;
  background-color: #21ce99;
  font-family: lars;
  font-size: 18px;
  border-radius: 999px;
  margin: 2px;
}

.follow-button:hover {
  background-color: #21ce99;
}

.navbar-search {
  background-color: #eceff1;
  border: none;
  font-family: lars;
  font-size: 18px;
  outline: none;
}

.navbar-search:focus {
  background-color: #eceff1;
}

.m-card-text {
  font-family: lars;
  font-size: 18px;
  color: #040d14;
  padding-top: 3%;
}

.m-whole-card-cover {
  border-width: 0;
}

.m-card-cover {
  border-width: 0;
}

.m-card-cover:hover {
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contentHeader {
  color: #040d14;
  text-align: left;
  font-family: medium;
  padding-bottom: 10px;
}

.titleBar {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #ffffff;
  display: block;
  color: #fff;
  font-size: 24px;
  font-family: lars;
  border-bottom: 1px solid #efefef;
}

.logo {
  padding-top: 10px;
}

.m-browse {
  position: fixed;
  border: 3px solid #73AD21;
  right: 0;
}

.searchBar {
  font-size: 18px;
  display: 'block';
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 50px;
  background-color: #efefef;
  font-family: lars;
  border: none;
}

.loginButton {
  background-color: red;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: lars;
}

.loginButton:hover {
  background-color: #fe5257;
}

.registerButton:hover {
  background-color: #3f3f4a;
}

.registerButton {
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: lars;
}

.App {
  text-align: center;
}