.m-user-page-structure {
  justify-content: center;
}

.m-inside-contents {
  align-items: flex-start;
}

.m-profile-content-header {
  text-align: justify;
  margin: 0 auto;
  font-family: medium;
  font-size: 45px;
  color: #040d14;
  margin-top: 10px;
  margin-bottom: -5px;
}

.m-profile-avatar {
  height: 140px;
  width: 140px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.m-profile-filter {
  text-align: center;
}

.m-profile-button {
  color: inherit;
  background-color: transparent;
  font-family: medium;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1.5px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 5px;
  padding-top: 5px;
}

.m-profile-button:hover {
  cursor: pointer;
}

.m-profile-button:active {
  background-color: #dbdbdb
}

.m-profile-edit-button {
  color: black;
  background-color: grey;
  padding: 10px;
  font-family: medium;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.m-profile-edit-button:hover {
  color: #fe5257;
  text-decoration: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.m-profile-user-frame {
  height: 100%;
  width: 100%;
}

.m-profile-name {
  font-family: medium;
  font-size: 26px;
  color: #040d14;
  word-wrap: break-word;
  margin-top: 5px;
  display: block;
  display: inline-block;
}

.m-profile-username {
  font-family: medium;
  font-size: 20px;
  color: #040d14;
  display: block;
  margin-top: -5px;
}

.m-profile-description {
  font-family: medium;
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
}

.m-profile-bio {
  font-family: regular;
  font-size: 20px;
  color: #040d14;
  display: block;
  margin-top: 5px;
  line-height: 125%;
}

.m-profile-home-filter {
  width: 100%;
  height: 100%;
  background-color: green
}

.m-profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

@media only screen and (max-width: 400px) {
  .m-profile-card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .m-home-latest {
    margin-left: -10px;
  }
}

.m-home-latest {
  font-family: medium;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.m-profile-card-text {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-top: 5px;
  width: calc(100% - 33px);
}

.m-remove-logo {
  width: 15px;
  height: 15px;
  margin-top: 8px;
  display: inline;
  float: right;
}

.m-edit-logo {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 0px;
  display: inline;
  float: right;
}

.m-edit-logo:hover {
  cursor: pointer;
}

.m-user-card-text {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-left: 5px;
  margin-top: 5px;
  line-height: 115%;
  margin-bottom: 0;
}

.m-user-card-text:hover {
  cursor: pointer;
  text-decoration: underline
}

.m-user-desc-text {
  font-family: regular;
  font-size: 16px;
  color: #040d14;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-user-desc-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.m-profile-whole-card-cover {
  /* width: 210px;
  max-width: 100%; */
  transition: all .2s ease-in-out;
  margin: 5px;
  margin-bottom: -5px;
}

.m-profile-whole-card-cover:hover {

}

.m-profile-card-cover {
  justify-content: center;
}

.m-profile-card-cover:hover {
  cursor: pointer;
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
}

.m-menu-scroll-bar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.m-menu-scroll-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: medium;
  font-size: 20px;
}

.m-menu-scroll-bar a:hover {
  color: #777;
}

.m-menu-footer {
  border-bottom: none;
  margin-top: 30px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
}

.m-menu-footer-text {
  font-family: medium;
  font-size: 17px;
  color: #454545;
  line-height: 110%;
}

.m-menu-footer-contact {
  font-family: medium;
  font-size: 17px;
  color: #454545;
  line-height: 110%;
}

.m-menu-footer-contact:hover {
  text-decoration: none;
  color: #777;
}

.m-profile-info {
  margin: 0 auto;
  margin-top: 20px;
}

.m-profile-left {
  height: 140px;
  width: 140px;
  overflow: hidden;
  margin-right: 30px;
}

.m-profile-right {
  margin-left: 20px;
  height: 100%;
  width: calc(100% - 160px);
  float: left;
}

.m-row-center {
  text-align: center;
}

.haha {
  justify-content: center;
  text-align: center
}

.m-profile-modal-title {
  font-family: medium;
  font-size: 40px;
  color: #040d14;
  word-wrap: break-word;
  margin-top: 5px;
  display: block;
  display: inline-block;
}

.m-profile-modal-desc {
  margin-top: -15px;
  margin-bottom: 30px;
  font-family: regular;
  font-size: 20px;
  color: #040d14;
}

.hoho {
  display: inline;
  float: right
}