.m-user-page-structure {
  justify-content: center;
}

.m-inside-contents {
  align-items: flex-start;
}

.m-profile-content-header {
  text-align: justify;
  margin: 0 auto;
  font-family: medium;
  font-size: 45px;
  color: #040d14;
  margin-top: 10px;
  margin-bottom: -5px;
}

.m-profile-avatar {
  height: 120px;
  width: 120px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.m-profile-filter {
  text-align: center;
}

.m-profile-button {
  color: black;
  background-color: transparent;
  font-family: medium;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.m-profile-button:hover {
  color: #fe5257;
  text-decoration: none;
}

.m-profile-edit-button {
  color: black;
  background-color: grey;
  padding: 10px;
  font-family: medium;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.m-profile-edit-button:hover {
  color: #fe5257;
  text-decoration: none;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.m-profile-user-frame {
  height: 100%;
  width: 100%;
}

.m-profile-name {
  font-family: medium;
  font-size: 26px;
  color: #040d14;
  word-wrap: break-word;
  margin-top: 5px;
  display: block;
  display: inline-block;
}

.m-profile-username {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-top: -10px;
  display: block;
}

.m-profile-desc {
  font-family: regular;
  font-size: 20px;
  color: #040d14;
}

.m-profile-home-filter {
  width: 100%;
  height: 100%;
  background-color: green
}

.m-profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.m-home-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.m-home-latest {
  font-family: medium;
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: -5px;
  margin-top: 10px;
}

.m-profile-card-text {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-top: 5px;
  width: calc(100% - 33px);
  background-color: aqua
}

.m-remove-logo {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  transform: rotate(45deg);
  display: inline;
  float: right;
}

.m-edit-logo {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 3px;
  display: inline;
  float: right;
}

.m-user-card-text {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-left: 5px;
  margin-top: 5px;
}

.m-user-desc-text {
  font-family: regular;
  font-size: 16px;
  color: #040d14;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: -5px;
}

.m-profile-whole-card-cover {
  /* width: 210px;
  max-width: 100%; */
  /* transition: all .2s ease-in-out; */
  margin: 5px;
}

.m-profile-whole-card-cover:hover {
  /* transform: scale(0.98); */
}

.m-profile-card-cover {
  /* width: 200px; */
  justify-content: center;
}

.m-profile-card-cover:hover {
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.m-menu-scroll-bar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.m-menu-scroll-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: medium;
  font-size: 20px;
}

.m-menu-scroll-bar a:hover {
  color: #777;
}

.m-profile-info {
  margin: 0 auto;
  margin-top: 20px;
}

.m-profile-left {
  height: 120px;
  width: 120px;
  overflow: hidden;
}

.m-profile-right {
  margin-left: 20px;
  height: 100%;
  width: calc(100% - 140px);
  float: left;
}

.m-row-center {
  text-align: center;
}

.haha {
  justify-content: center;
  text-align: center
}

.m-profile-modal-title {
  font-family: medium;
  font-size: 40px;
  color: #040d14;
  word-wrap: break-word;
  margin-top: 5px;
  display: block;
  display: inline-block;
}

.m-profile-modal-desc {
  margin-top: -15px;
  margin-bottom: 30px;
  font-family: regular;
  font-size: 20px;
  color: #040d14;
}

.hoho {
  display: inline;
  float: right
}