.m-user-page-structure {
  justify-content: center;
}

.m-inside-contents {
  align-items: flex-start;
}

.m-profile-content-header {
  text-align: justify;
  margin: 0 auto;
  font-family: medium;
  font-size: 45px;
  color: #040d14;
  margin-top: 10px;
  margin-bottom: -5px;
}

.m-profile-avatar {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.m-profile-filter {
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.m-profile-user-frame {
  height: 100%;
  width: 100%;
}

.m-profile-name {
  font-family: medium;
  font-size: 24px;
  color: #040d14;
  word-wrap: break-word;
  margin-top: 5px;
  display: block;
}

.m-profile-username {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-top: -10px;
  display: block;
}

.m-profile-desc {
  font-family: regular;
  font-size: 20px;
  color: #040d14;
}

.m-profile-home-filter {
  width: 100%;
  height: 100%;
  background-color: green
}

.m-profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
}

.m-profile-card-text {
  font-family: medium;
  font-size: 18px;
  color: #040d14;
  margin-left: 10px;
}

.m-profile-desc-text {
  font-family: regular;
  font-size: 16px;
  color: #040d14;
  margin-left: 10px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.m-profile-whole-card-cover {
  /* width: 210px;
  max-width: 100%; */
  /* transition: all .2s ease-in-out; */
  margin: 5px;
}

.m-profile-whole-card-cover:hover {
  /* transform: scale(0.98); */
}

.m-profile-card-cover {
  /* width: 200px; */
  justify-content: center;
}

.m-profile-card-cover:hover {
  border-radius: 5%;
  border-width: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.m-menu-scroll-bar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.m-menu-scroll-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: medium;
  font-size: 20px;
}

.m-menu-scroll-bar a:hover {
  color: #777;
}
